<div class="row mt-5 mb-5" *ngIf="movie$ | async as movie">
  <div class="col">
    <div class="row mb-2" data-aos="fade-left">
      <div class="col text-center">
        <h1><strong>{{movie.name}}</strong></h1>
      </div>
    </div>
    <div class="row mt-2" data-aos="fade-right">
      <div class="col-12 col-sm-4">
        <img class="img-fluid" src="{{movieImagesPath + movie.img}}">
      </div>
      <div class="col-12 col-sm-8">
        <div class="row">
          <div class="col-12">
            <span class="badge badge-pill badge-danger" *ngFor="let genre of movie.genres">{{genre}}</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            {{movie.description}}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-md-6">
            <span class="badge badge-warning">Rating: {{movie.rate}} <ngb-rating [(rate)]="movie.rate" [readonly]="true" max="10"></ngb-rating></span>
          </div>
          <div class="col-12 col-md-6">
            <span class="badge badge-primary">Length: {{movie.length}}</span>
          </div>
        </div>
        <div class="row float-right align-bottom mt-5">
          <a routerLink="/" class="btn btn-secondary" role="button">Go Back...</a>
        </div>
      </div>
    </div>
  </div>
</div>
