<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <i class="fa fa-search fa"></i>
    </div>
  </div>
  <input title="Search Movie" placeholder="Search Movie..." id="typeahead-basic" type="text" class="form-control" [(ngModel)]="selectedMovie" [ngbTypeahead]="search">
  <select class="form-control" [(ngModel)]="selectedCategory" (ngModelChange)="onSelectedGenre()" title="Select Category">
    <option [ngValue]="undefined" selected>No Category Selected...</option>
    <option *ngFor="let genre of moviesGenres$ | async" [value]="genre">
      {{genre}}
    </option>
  </select>
</div>
